body {
    font-family: "Roboto", sans-serif, system-ui;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100px;
    display: flex;
    /*flex: 1;*/
    justify-content: space-between;
    align-items: center;
}

.header-logo-title {
    font-size: 24px;
    font-weight: 900px;
    margin-left: 150px;
}

.header-links {
    display: flex;
    list-style: none;
    color: #e5e7eb;
    margin: 0px 150px;
    padding: 0;
}

.header-links a{
    text-decoration: none;
    color: #f9faf8;
    margin-right: 24px;
}

/*-----------------------------------------------------------------*/

.main-info-container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 150px;
}

.main-info-container .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    width: 400px;
}

.main-info-container .secondary-text {
    color: #e5e7eb;
    width: 400px;
}

.main-info-container button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
}

/*-----------------------------------------------------------------*/
.random-info-container {
    padding: 0 150px;
    background-color: #ffffff;
}

.random-info-container .heading {
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}

.random-info-boxes {
    margin: 48px 150px;
    display: flex;
    gap: 42px;
    justify-content: space-between;
}

.random-info-boxes .main {
    border: 4px solid #3882f6;
    border-radius: 12px;
    height: 200px;
    width: 200px;
}

.random-info-boxes .subtext {
    width: 200px;
    color: #56585a;
    text-align: center;
}

.random-info-boxes img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------------------------------------*/

.quote-container {
    background-color: #e5e7eb;
    padding: 70px 350px;
}

.quote-container .quote {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
}

.quote-container .author {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

/*-----------------------------------------------------------------*/
